/voice
/node_modules
/dist
/packages/**/dist
/packages/**/node_modules
/packages/**/typings
/typing
/test.mjs
/test.cjs
/packages/**/test.json
/packages/**/test.js
/packages/**/test.mjs
/packages/**/test.cjs
/yarn-error.log
/packages/**/docs
